.cta {
  padding: 24px 0;
}

.cta__inner {
  padding: 60px;
  padding-right: 135px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  gap: 30px;
  background-color: var(--color-gray);
  border-radius: 45px;

  @include tablet {
    padding: 50px 23px;
    gap: 0;
  }
}

.cta__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 26px;
  grid-column: 6 span;

  @include tablet {
    grid-column: 12 span;
  }

  @include mobile {
    gap: 20px;
  }
}

.cta__title {
  font-size: 30px;
  font-weight: 500;

  @include mobile {
    font-size: 26px;
  }
}

.cta__description {
  font-size: 18px;

  @include mobile {
    font-size: 16px;
  }
}

.cta__img {
  position: relative;
  grid-column: 6 span;
  height: 100%;
  @include tablet {
    display: none;
  }

  // position: absolute;
  // right: 135px;
  // top: -30px;

  img {
    position: absolute;
    top: -85px;
    right: 0;
  }
}
