.cta {
  padding: 24px 0;
}

.cta__inner {
  position: relative;
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  background-color: var(--color-gray);
  border-radius: 45px;
}

.cta__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 26px;
  grid-column: 6 span;
}

.cta__title {
  font-size: 30px;
  font-weight: 500;
}

.cta__description {
  font-size: 18px;
}

.cta__img {
  position: absolute;
  right: 135px;
  top: -30px;
}
