.header {
  padding-top: 60px;

  @include mobile {
    padding-top: 30px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  position: relative;
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 40px;
  font-weight: 400;
}

.burger {
  position: relative;
  display: none;
  border: none;
  background-color: transparent;
  z-index: 200;
}

@media (max-width: 1099px) {
  .header {
    position: relative;
  }

  .header__nav {
    background-color: var(--color-white);
    position: absolute;
    right: -105%;
    top: 0;
    min-height: 100%;
    border: 1px solid gray;
    border-top: none;
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    transition: all 0.3s;

    z-index: 100;

    &.open {
      right: 0;
    }
  }
  .burger {
    display: block;
  }

  .menu {
    flex-direction: column;
    z-index: 100;
  }
}

@media (max-width: 550px) {
  .logo {
    width: 112px;
  }

  .header__nav {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
