.hero {
  padding: 0;
}
.hero__inner {
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.hero__content {
  max-width: 531px;
  grid-column: 6 span;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.hero__title {
  font-size: 60px;
  font-weight: 500;
}

.hero__description {
  max-width: 498px;
  line-height: 28px;
}
.hero__img {
  grid-column: 6 span;

  img {
    margin-left: auto;
  }
}

.hero__partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 96px;
}
.hero__partner {
  img {
    filter: grayscale(1);
  }
}
