.process {
  .title-box__description {
    max-width: 300px;
  }
}

.process__item {
  padding: 60px 41px;
  border-radius: 45px;
  border: 1px solid var(--color-dark);
  background-color: var(--color-gray);
  box-shadow: 0px 5px 0px 0px #191a23;
  transition: all 0.3s;
  overflow: hidden;

  & + & {
    margin-top: 30px;
  }

  &.open {
    background-color: var(--color-green);
    .process__item-body {
      visibility: visible;
      height: 120px;
    }

    .process__item-btn span:last-child {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    .process__item-description {
      opacity: 1;
    }
  }
}

.process__item-caption {
  display: flex;
  align-items: center;
}

.process__item-number {
  font-size: 60px;
  font-weight: 500;
}

.process__item-title {
  margin-left: 25px;
  font-size: 30px;
  font-weight: 500;
}

.process__item-btn {
  position: relative;
  margin-left: auto;
  width: 58px;
  height: 58px;
  border: 1px solid var(--color-dark);
  background-color: var(--color-gray);
  border-radius: 100%;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 20px;
    height: 6px;
    background-color: var(--color-dark);
    transform: translate(-50%, -50%);
  }

  span:last-child {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.process__item-body {
  height: 0;
  visibility: hidden;
  transition: height 0.3s;
}

.process__item-description {
  opacity: 0;
  position: relative;
  padding-top: 60px;

  transition: all 0.2s;

  &::before {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    top: 30px;
    width: 100%;
    background-color: var(--color-dark);
  }
}
