.services {
  margin-bottom: 100px;
}
.container {
}
.services__container {
}

.services__inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;

  @include mobile {
    gap: 20px;
  }
}
.services__item {
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 6 span;
  padding: 50px;
  border-radius: 45px;
  border: 1px solid var(--color-dark);
  box-shadow: 0px 5px 0px 0px #191a23;

  &_gray {
    background-color: var(--color-gray);

    .services__item-title {
      span {
        background-color: var(--color-green);
      }
    }

    svg {
      fill: var(--color-green);
    }
  }

  &_green {
    background-color: var(--color-green);

    .services__item-title {
      span {
        background-color: var(--color-gray);
      }
    }

    svg {
      fill: var(--color-green);
    }
  }

  &_black {
    background-color: var(--color-dark);

    .services__item-title {
      span {
        background-color: var(--color-gray);
      }
    }

    .services__item-link {
      color: var(--color-gray);
    }

    .services__item-icon {
      background-color: var(--color-gray);
    }

    svg {
      fill: var(--color-black);
    }
  }

  @include tablet {
    grid-column: 12 span;
  }

  @include mobile {
    position: relative;
  }
}
.services__item-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services__item-title {
  font-weight: 500;
  font-size: 30px;

  @include tablet {
    font-size: 26px;
  }

  span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: 38px;
    max-width: 207px;
    border-radius: 7px;
    padding: 0 7px;
  }
}

.services__item-link-text {
  @include mobile {
    display: none;
  }
}
.services__item-link {
  display: flex;
  align-items: center;
  gap: 15px;
}

.services__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-dark);
  border-radius: 100%;
}
.services__item-img {
  @include mobile {
    width: 40%;

    position: absolute;
    right: 30px;
    bottom: 50px;
  }
  img {
    width: auto;
  }
}
