.studies__slider {
  background-color: var(--color-dark);
  border-radius: 45px;
  padding: 70px 60px;
  overflow: hidden;

  .swiper-wrapper {
    padding-bottom: 0;
  }

  .swiper-slide {
    height: auto;
  }

  @include tablet {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
  }
}

.studies__inner {
  display: flex;
  align-items: stretch;
  color: var(--color-white);
  font-size: 18px;
  padding-bottom: 0;
}

.study {
  background-color: var(--color-dark);
  border-radius: 45px;

  @include tablet {
    padding: 42px 50px;
  }

  @include mobile {
    padding: 30px 30px;
  }
}

.study_center {
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: var(--color-gray);
  }

  &::before {
    left: -64px;
  }

  &::after {
    right: -64px;
  }

  @include tablet {
    &::after,
    &::before {
      display: none;
    }
  }
}

.study__text {
  margin-bottom: 20px;

  @include mobile {
    font-size: 16px;
  }
}

.study__link {
  display: flex;
  gap: 15px;
  color: var(--color-green);

  svg {
    fill: var(--color-green);
  }
}
